.pos-toolbar {
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d8dd;
}

.pos-toolbar-buttons {
    height: 120px;
    align-items: center;
    justify-content: space-evenly;
}

.pos-toolbar-buttons > .btn {
    height: 100%;
    width: 130px;
    border: 1px solid #d1d8dd;
}

.pos-content, .pos-pad {
    padding: 15px;
}

.pos-list__item-name {
    flex: 2;
}

.pos-list__qty {
    flex: 0.5;
}

.pos-items {
    height: 150px;
}

.pos-items__empty {
    height: 100%;
}

.pos-pay {
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid #d1d8dd;
    border-radius: 3px;
}

.pos-number-pad {
    display: table;
    border-collapse: collapse;
}

.pos-num-row {
    display: table-row;
}

.pos-num-col {
    display: table-cell;
    border: 1px solid #d1d8dd;
}

.pos-num-col > div {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.pos-btn {
    border: 1px solid #d1d8dd;
    margin-bottom: 9px;
}

.pos-btn__misc {
    border-bottom: 1px solid #d1d8dd;
}

.pos-btn__misc.last {
    border: none;
}

.pos-day-sales {
    border: 1px solid #d1d8dd;
    border-radius: 3px;
    padding-left: 15px;
    height: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.pos-close-shift {
    border: 1px solid #d1d8dd;
    height: 50px;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}
